@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-darker text-white font-sans;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}
